<details>
  <summary>{{MORE}}</summary>
  <label>{{USERNAME}}: <input id="prop-username" type="text"></label>
  <label>{{PASSWORD}}: <input id="prop-password" type="password"></label>

  <label>Proxy: <input id="prop-proxy" type="checkbox"></label>
  <label>
    Open media preview:
    <select id="openEnclosure">
      <option value="global">Use global setting</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
  </label>
  <label>
    Default view:
    <select id="defaultView">
      <option value="global">Use global setting</option>
      <option value="feed">Content from feed</option>
      <option value="mozilla">Parse website</option>
    </select>
  </label>
</details>
