<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" />
	<title>Smart RSS - items</title>
	<script src="libs/jquery.min.js"></script>
	<script src="libs/underscore.min.js"></script>
	<script src="libs/backbone.min.js"></script>
	<script src="scripts/items.js"></script>
	<link rel="stylesheet" type="text/css" href="styles/global.css" />
	<link rel="stylesheet" type="text/css" href="styles/items.css" />
</head>
<body>
	<div id="toolbar">
		<div class="button" id="button-read" title="Mark as (un)read"></div>
		<div class="button" id="button-delete" title="Delete"></div>
		<div class="button" id="button-reload" title="Reload"></div>

		<input type="search" placeholder="Search for?" required title="Search in items. Use ':' to search in content as well.">
	</div>
	<div id="list">

	</div>
	<script id="template-item" type="template">
		<div class="item-title"><%- title %></div>
		<div class="item-author"><%- author %></div>
	</script>
</body>
</html>