<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" />
	<title>Smart RSS - sources</title>
	<script src="libs/jquery.min.js"></script>
	<script src="libs/underscore.min.js"></script>
	<script src="libs/backbone.min.js"></script>
	<script src="scripts/sources.js"></script>
	<link rel="stylesheet" type="text/css" href="styles/global.css" />
	<link rel="stylesheet" type="text/css" href="styles/sources.css" />
</head>
<body>
	<div id="toolbar">
		<div class="button" id="button-add" title="Add RSS Source"></div>
		<div class="button" id="button-reload" title="Update All"></div>
	</div>
	<div id="properties">
		<label>Name: <input type="text" id="prop-title" placeholder="If empty, it will be fetched." /></label>
		<label>Address: <input type="url" id="prop-url" /></label>
		<label>Update: <select id="prop-update-every">
			<option value="0">Never</option>
			<option value="0.5">Every 30 seconds</option>
			<option value="5">Every 5 minutes</option>
			<option value="15">Every 15 minutes</option>
			<option value="30">Every 30 minutes</option>
			<option value="60">Every hour</option>
			<option value="120">Every 2 hours</option>
			<option value="180">Every 3 hours</option>
			<option value="300">Every 5 hours</option>
			<option value="600">Every 10 hours</option>
			<option value="1440">Every 24 hours</option>
			<option value="1080">Every week</option>
		</select></label>
		<button id="prop-ok">Ok</button><button id="prop-cancel">Cancel</button>
	</div>
	<div id="list">

	</div>
	<div id="indicator">
		0/10
	</div>
	<script id="template-source" type="template">
		<img src="opera://favicon/<%= url %>" class="source-icon" />
		<div class="source-title"><%- title %></div>
		<% if (count > 0) { %>
			<div class="source-counter"><%- count %></div>
		<% } %>
	</script>
</body>
</html>