<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Smart RSS</title>
	<link rel="stylesheet" type="text/css" href="styles/main-compiled.css" />
	<link rel="shortcut icon" href="images/icon16_v2.png" />
	<script data-main="scripts/main.js" src="scripts/libs/require.js"></script>
	<!--<script data-main="scripts/main-compiled.js" src="scripts/libs/require.js"></script>-->
</head>
<body class="loading">
	<div class="regions" data-cols="250,*"> <!--  cols="350,*" -->
		<div id="panel-toggle"></div>
		<section class="region" id="region-feeds" tabindex="1" name="feeds"></section>
		<div class="regions" data-cols="250,*">
			<section class="region" id="region-articles" tabindex="2" name="articles"></section>
			<section class="region" id="region-content"  tabindex="3" name="content"></section>
		</div>
	</div>

	<!-- PROPERTIES -->
	<script id="template-properties" type="text/template">
		<% if (typeof title != 'undefined') { %>
		<label>
			{{NAME}}: 
			<input type="text" id="prop-title" placeholder="{{FETCH_TITLE_TIP}}" title="{{FETCH_TITLE_TIP}}" value="<%- title %>"/>
		</label>
		<% } %>

		<% if (typeof url != 'undefined') { %> 
		<label>{{ADDRESS}}: <input type="url" id="prop-url" value="<%= url %>" /></label>
		<% } %>

		<label>{{UPDATE}}: <select id="prop-update-every">
			<% if (typeof mixed != 'undefined') { %> 
				<option value="-1">&lt;mixed&gt;</option>
			<% } %> 
			<option value="0">{{NEVER}}</option>
			<option value="5">{{EVERY_5_MINUTES}}</option>
			<option value="15">{{EVERY_15_MINUTES}}</option>
			<option value="30">{{EVERY_30_MINUTES}}</option>
			<option value="60">{{EVERY_HOUR}}</option>
			<option value="120">{{EVERY_2_HOURS}}</option>
			<option value="180">{{EVERY_3_HOURS}}</option>
			<option value="300">{{EVERY_5_HOURS}}</option>
			<option value="600">{{EVERY_10_HOURS}}</option>
			<option value="1440">{{EVERY_24_HOURS}}</option>
			<option value="10080">{{EVERY_WEEK}}</option>
		</select></label>

		<% if (typeof url != 'undefined') { %> 
		<div id="advanced-switch">{{MORE}}</div>
		<div id="properties-advanced">
			<label>{{USERNAME}}: <input type="text" id="prop-username" value="<%= username %>" /></label>
			<label>{{PASSWORD}}: <input type="password" id="prop-password" value="<%= password %>" /></label>
		</div>
		<% } %>

		<button id="prop-ok">{{OK}}</button><button id="prop-cancel">{{CANCEL}}</button>
	</script>

	<!-- FEEDS TEMPLATES -->
	<script id="template-source" type="text/template">
		<img src="http://www.google.com/s2/favicons?domain=<%= encodeURIComponent(url) %>" class="source-icon" /> 
		<div class="source-title"><%- title %></div>
		<% if (count > 0) { %>
			<div class="source-counter"><%- count %></div>
		<% } %>
	</script>

	<script id="template-special" type="text/template">
		<img src="/images/<%- icon %>" class="source-icon" />
		<div class="source-title"><%- title %></div>
	</script>

	<script id="template-folder" type="text/template">
		<div class="folder-arrow"></div>
		<img src="/images/folder<%= opened ? '_opened' : '' %>.png" class="source-icon" />
		<div class="source-title"><%- title %></div>
		<% if (count > 0) { %>
			<div class="source-counter"><%- count %></div>
		<% } %>
	</script>

	<!-- ARTICLE TEMPLATES -->
	<script id="template-item" type="text/template">
		<div class="item-title"><%= title %></div>
		<div class="item-pin <%- pinned ? 'pinned' : '' %>"></div>
		<div class="item-author"><%- author %></div>
		<div class="item-date"><%- date %></div>
	</script>

	<script id="template-header" type="text/template">
		<h1><a href="<%= url ? url : '#' %>" target="_blank" tabindex="-1"><%= title %></a></h1>
		<div id="below-h1">
			<p class="author"><%- author %></p>
			<p class="date"><%= date %></p>
			<p class="pin-button" title="{{PIN}}" <%= (pinned ? 'class="pinned"' : '') %>></p>
		</div>
	</script>

	<!-- CONFIG OVERLAY -->
	<script id="template-overlay" type="text/template">
		<label>{{LAYOUT}}: </label>
		<div id="config-layout">
			<input type="image" src="images/layout_horizontal.png" value="horizontal" />
			<input type="image" src="images/layout_vertical.png" value="vertical" />
		</div>
		<label for="config-lines">{{LINES}}:</label>
		<select id="config-lines" data-name="lines">
			<option value="auto">{{AUTO}}</option>
			<option value="one-line">{{ONE_LINE}}</option>
			<option value="two-lines">{{TWO_LINES}}</option>
		</select>
		<label for="config-sort-order">{{SORT_ORDER}}:</label>
		<select id="config-sort-order" data-name="sortOrder">
			<option value="desc">{{DESCENDING}}</option>
			<option value="asc">{{ASCENDING}}</option>
		</select>
	
		<a href="/options.html" target="_blank">{{OPTIONS}}</option>
	</script>

	<!-- LOG -->
	<script id="template-log" type="text/template">
		<input type="button" value="Hide log" id="button-hide-log" />
		<div id="mocha"></div>
	</script>
</body>
</html>