<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" />
	<title>Smart RSS - sources</title>
	<script src="libs/jquery.min.js"></script>
	<script src="libs/underscore.min.js"></script>
	<script src="libs/backbone.min.js"></script>
	<script src="scripts/sources.js"></script>
	<link rel="stylesheet" type="text/css" href="styles/global.css" />
	<link rel="stylesheet" type="text/css" href="styles/sources.css" />
</head>
<body>
	<div id="toolbar">
		<div class="button" id="button-add" title="{{ADD_RSS_SOURCE}}"></div>
		<div class="button" id="button-add-folder" title="{{ADD_RSS_SOURCE}}"></div>
		<div class="button" id="button-reload" title="{{UPDATE_ALL}}"></div>
	</div>
	<div id="properties">
		<label>{{NAME}}: <input type="text" id="prop-title" placeholder="{{FETCH_TITLE_TIP}}" title="{{FETCH_TITLE_TIP}}" /></label>
		<label>{{ADDRESS}}: <input type="url" id="prop-url" /></label>
		<label>{{UPDATE}}: <select id="prop-update-every">
			<option value="0">{{NEVER}}</option>
			<option value="15">{{EVERY_15_MINUTES}}</option>
			<option value="30">{{EVERY_30_MINUTES}}</option>
			<option value="60">{{EVERY_HOUR}}</option>
			<option value="120">{{EVERY_2_HOURS}}</option>
			<option value="180">{{EVERY_3_HOURS}}</option>
			<option value="300">{{EVERY_5_HOURS}}</option>
			<option value="600">{{EVERY_10_HOURS}}</option>
			<option value="1440">{{EVERY_24_HOURS}}</option>
			<option value="1080">{{EVERY_WEEK}}</option>
		</select></label>
		<div id="advanced-switch">{{MORE}}</div>
		<div id="properties-advanced">
			<label>{{USERNAME}}: <input type="text" id="prop-username" /></label>
			<label>{{PASSWORD}}: <input type="password" id="prop-password" /></label>
		</div>
		<button id="prop-ok">{{OK}}</button><button id="prop-cancel">{{CANCEL}}</button>
	</div>
	<div id="list">

	</div>
	<div id="indicator">
		0/10
	</div>
	<script id="template-source" type="template">
		<img src="http://www.google.com/s2/favicons?domain=<%= encodeURIComponent(url) %>" class="source-icon" /> 
		<div class="source-title"><%- title %></div>
		<% if (count > 0) { %>
			<div class="source-counter"><%- count %></div>
		<% } %>
	</script>
	<script id="template-special" type="template">
		<img src="/images/<%- icon %>" class="source-icon" />
		<div class="source-title"><%- title %></div>
	</script>
	<script id="template-folder" type="template">
		<div class="folder-arrow"></div>
		<img src="/images/folder<%= opened ? '_opened' : '' %>.png" class="source-icon" />
		<div class="source-title"><%- title %></div>
	</script>
</body>
</html>