<label>{{LAYOUT}}: </label>
<div id="config-layout">
	<input type="image" src="images/layout_horizontal.png" value="horizontal" />
	<input type="image" src="images/layout_vertical.png" value="vertical" />
</div>
<label for="config-lines">{{LINES}}:</label>
<select id="config-lines" data-name="lines">
	<option value="auto">{{AUTO}}</option>
	<option value="one-line">{{ONE_LINE}}</option>
	<option value="two-lines">{{TWO_LINES}}</option>
</select>
<label for="config-sort-order">{{SORT_ORDER}}:</label>
<select id="config-sort-order" data-name="sortOrder">
	<option value="desc">{{DESCENDING}}</option>
	<option value="asc">{{ASCENDING}}</option>
</select>
<label for="config-sort-by">{{SORT_BY}}:</label>
<select id="config-sort-by" data-name="sortBy">
	<option value="date">{{DATE}}</option>
	<option value="title">{{TITLE}}</option>
	<option value="author">{{AUTHOR}}</option>
</select>

<a href="/options.html" target="_blank">{{OPTIONS}}</option>