<form class="report-window" method="POST">
	<strong>Report a problem</strong>
	<label for="report-desc">{{REPORT}}</label>
	<textarea id="report-desc" required></textarea>

	<label for="report-email">{{EMAIL}} ({{OPTIONAL}}):</label>
	<input type="email" id="report-email">
		
	<label for="report-include-list">{{INCLUDE_FEED_LIST}}:</label>
	<input type="checkbox" id="report-include-feeds">

	<div class="report-buttons">
		<input type="submit" id="report-submit" value="{{SUBMIT}}"><input type="button" id="report-cancel" value="{{CANCEL}}">
	</div>

	<div class="report-message">
		
	</div>
</form>