<div class="report-window">
	<strong>Submit a report</strong>
	<label for="report-desc">{{REPORT}}: </label>
	<textarea id="report-desc"></textarea>

	<label for="report-email">{{EMAIL}} (optional):</label>
	<input type="email" id="report-email">
		
	<label for="report-include-list">{{INCLUDE_FEED_LIST}}:</label>
	<input type="checkbox" value="on" id="report-include-list">

	<div class="report-buttons">
		<button id="report-submit">{{SUBMIT}}</button><button id="report-cancel">{{CANCEL}}</button>
	</div>
</div>