@import nib

vendor-prefixes = webkit official
flex-version = flex
support-for-ie = false

#toolbar {
	flex: 0 0 auto;
}

#article-list {
	flex: 1 1 auto;
	user-select: none;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: sans-serif;
}

.item {
	width: 100%;
	padding: 4px 5px 4px 5px;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-flow: row wrap;
}

.selected {
	color: #f1f1f1 !important;
	background: rgb(51, 153, 255);
	border-bottom-color: rgb(51, 153, 255);
	font-smoothing: antialiased;
}

.region:not(.focused) .selected {
	background: #94C6F7;
	border-bottom-color: #ccc;
}


.last-selected {
	outline: 1px dotted grey;
}

.region:not(.focused) .last-selected {
	outline: none;
}

.item:active *, .selected  * {
	color: #f1f1f1 !important;
}

.unread {
	font-weight: bold;
}

.unvisited {
	color: rgb(0, 59, 179) !important;
}

.unvisited .item-author {
	color: rgb(0, 59, 179) !important;
}

.item-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.8rem;
	flex: 1 1 100%;
	padding-left: 1rem;
}

.item-author {
	color: #664666;
	padding-top: 0.2rem;
	font-size: 0.75rem;
	flex: 1 1 10px;
	white-space: nowrap;
	min-width: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item-pin {
	width: 0.4rem;
	height: 0.5rem;
	margin-top: 0.46rem;
	margin-right: 0.4rem;
	margin-left: 0.2rem;
	background-image: url('../images/bullet_read.png');
	background-position: 50% 50%;
	background-size: 1rem;
	flex: 0 0 0.4rem;
}
.unread:not(.unvisited) .item-pin:not(.pinned) {
	background-image: url('../images/bullet_unread.png');
}
.unvisited  .item-pin:not(.pinned) {
	background-image: url('../images/bullet_unseen.png');
}
.pinned {
	background-image: url('../images/bullet_pinned.png');
}

.item-date {
	color: #6d6d6d;
	padding-top: 0.2rem;
	font-size: 0.75rem;
	flex: 1 1 20px;
	white-space: nowrap;
	font-weight: normal;
	text-align: right;
}

.date-group
	border-bottom: 1px solid #a6a6a6;
	background: linear-gradient(to bottom, white 3px, #ececec);
	height: 22px;
	line-height: 22px;
	font-family: sans-serif;
	font-size: 0.75rem;
	text-align: center;
	font-weight: bold;
	user-select: none;

.unpluged {
	display: none !important;
}


/**
 * One line layout
 */

/*@media all and (min-width: 37rem) {
	.lines-auto .item {
		flex-wrap: nowrap;
		justify-content: flex-end;
	}
	.lines-auto .item-title {
		flex: 1 1 auto;
		padding-right: 20px;
		padding-left: 0;
		font-size: 0.75rem;
	}
	.lines-auto .item-pin {
		order: -1;
		margin-top: 0.3rem;
	}
	.lines-auto .item-author, .lines-auto .item-date {
		padding: 0;
	}
	.lines-auto .item-author {
		flex: 0 0 12rem;
	}

	.lines-auto .item-date {
		flex: 0 0 auto;
		padding-right: 5px;
	}
}*/



.lines-one-line .item {
	flex-wrap: nowrap;
	justify-content: flex-end;
}
.lines-one-line .item-title {
	flex: 1 1 auto;
	padding-right: 20px;
	padding-left: 0;
	font-size: 0.75rem;
}
.lines-one-line .item-pin {
	order: -1;
	margin-top: 0.3rem;
}
.lines-one-line .item-author, .lines-one-line .item-date {
	padding: 0;
}
.lines-one-line .item-author {
	flex: 0 0 12rem;
}

.lines-one-line .item-date {
	flex: 0 0 auto;
	padding-right: 5px;
}

@media all and (max-width: 42rem) {
	.lines-one-line .item-author {
		max-width: 10rem;
	}
}

@media all and (max-width: 32rem) {
	.lines-one-line .item-title {
		flex: 1 1 auto;
		padding-right: 5px;
	}

	.lines-one-line .item-author {
		display: none;
	}
	.lines-one-line .item-date {
		flex: 0 0 auto;
	}
}

@media all and (max-width: 20rem) {
	.lines-one-line .item-date { 
		display: none;
	}
}