@import nib

vendor-prefixes = webkit official
flex-version = flex
support-for-ie = false

header
	display: none
	padding: 25px 15px 15px 30px
	font-family: sans-serif
	border-bottom: 1px solid rgb(199, 203, 214)
	flex: 0 0 auto
	overflow: hidden

.clear
	clear: both

h1
	margin: 0
	margin-bottom: 20px
	padding: 0
	color: rgb(72, 72, 72)
	font-size: 1.5rem
	max-height: 6rem
	overflow: hidden
	text-overflow: ellipsis
	
	a 
		color: inherit
		font-size: inherit
		text-decoration: none
		font-weight: inherit

#below-h1
	display: flex
	flex-flow: row nowrap
	width: 100%

header
	p
		color: rgb(182, 147, 171)
		font-size: 0.9rem
		margin: 0
		padding: 0
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis

	.author
		flex: 1 1 auto

	.date
		flex: 0 1 200px
		text-align: right

	.pin-button
		flex: 0 0 25px
		height: 16px
		background: url('/images/mail_unpinned.png') no-repeat right center
		opacity: 0.8
		transition: opacity 0.1s
		cursor: pointer

	.pin-button:hover
		opacity: 1

	.pin-button.pinned
		background: url('/images/mail_pinned.png') no-repeat right center

iframe
	display: none
	flex: 1 1 auto
	width: 100%


footer
	border-top: 2px solid #999;
	padding: 5px 10px;
	font-size: 0.75rem;
	display: none;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	background: white;

	.log
		padding: 5px 0;

	.log:not(:last-of-type)
		border-bottom: 1px solid #ccc;

	#button-hide-log
		margin: 0;
		padding: 0 4px;
		border: 1px solid #a6a6a6;
		cursor: pointer;


@media print
	header, #toolbar
		display: none !important



.overlay
	#config-layout 
		padding: 5px

	#config-layout input[type=image]
		margin: 3px

	select
		width: 100%

	a
		display: block
		text-align: right
		margin: 3px
		margin-top: 8px
		padding-top: 8px
		font-size: 0.8rem
		font-family: sans-serif
		color: black
		border-top: 1px solid #a6a6a6