@import nib

vendor-prefixes = webkit official
flex-version = flex
support-for-ie = false

* {
	box-sizing: border-box;
}

body.loading {
	background: url('/images/tabloading.gif') no-repeat center center;
}

body.loading * {
	visibility: hidden;
}

html, body {
	height: 100%;
	max-height: 100%;
	width: 100%;
	max-width: 100%;
}

body {
	margin: 0;
	font-size: 100%;
	font-family: sans-serif;
}

.visible {
	display: block !important;
}

.invisible {
	display: none !important;
}

.hidden {
	display: none !important;
}

label {
	font-family: sans-serif;
	font-size: 0.75rem;
	font-weight: bold;
}



/**
 * Toolbars & Toolbar Buttons
 */
.toolbar {
	display: flex;
	flex: 0 0 auto;
	height: 32px;
	background: #f2f2f2;
	border-bottom: 1px solid #a6a6a6;
	align-items: stretch;
	justify-content: flex-start;	
	padding: 3px 6px;
	user-select: none;
	overflow: hidden;
}
.dynamic-space {
	flex: 1 1 auto;
	text-align: center;
	margin-right: 3px;
}
.button {
	flex: 0 0 28px;
	overflow: hidden;
	border-radius: 3px;
	margin-right: 3px;
	border: 1px solid transparent;
	text-align: center;
	line-height: 21px;
	cursor: pointer;
	/*transition: border-color 0.1s;*/
}
.button:hover, .button:active {
	border-color: #c4c4c4;
}
.button:active {
	box-shadow: inset 0 1px 3px #bbb;
}

[data-action="articles:undelete"] {
	background: url('/images/delete_selected.png') no-repeat center center;
	/*display: none;*/
}

#context-undelete {
	display: none;
}

input[type=search] {
	max-width: 160px;
	width: 160px;
	/*margin-left: auto;
	margin-right: 0;*/
	margin-top: 0px;
	padding: 2px 5px;
	margin-bottom: 0px;
	font-size: 0.8rem;
	border: 1px solid #a6a6a6;
	border-radius: 5px;
}
input[type=search]:not(:focus):not(:valid) {
	background: url('/images/search.png') no-repeat right center white;
}


/**
 * Context Menus & Context Menu Items
 */

.context-menu {
	min-width: 150px;
	max-width: 250px;
	border: 1px solid rgb(160, 160, 160);
	/*background: linear-gradient(to right, rgb(240, 240, 240) 27px, rgb(174, 207, 247) 27px, rgb(240, 240, 240) 28px);*/
	background: url('/images/context-border.png') repeat-y 27px top rgb(240, 240, 240);
	position: absolute;
	top: 300px;
	left: 10px;
	overflow: hidden;
	z-index: 3;
	padding: 2px;
	box-shadow: 2px 2px 2px #999;
	user-select: none;
	cursor: default;
	display: none;
}

.context-menu-item {
	font-size: 0.75rem;
	font-family: sans-serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	padding: 4px 3px 4px 30px;
	border: 1px solid transparent;
}

.context-menu-item:hover {
	border-radius: 3px;
	border-color: rgb(174, 207, 247);
}

/**
 * Overlays
 */

.overlay {
	display: none;
	/*min-width: 150px;*/
	width: 20rem;
	min-height: 50px;
	border: 1px solid rgb(160, 160, 160);
	background: rgb(240, 240, 240);
	position: absolute;
	top: 30px;
	right: 5px;
	overflow: hidden;
	z-index: 2;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #999;
}

.overlay label {
	padding: 0.3rem 0 0.2rem 0;
	display: block;
}

.half-size {
	width: 50% !important;
	margin: 0;
	box-sizing: border-box;
}

/**
 * Main regions
 */

.regions {
	height: 100%;
	max-height: 100%;
	width: 100%;
	display: flex;
}

.regions.vertical {
	flex-flow: column;
}

.region {
	min-width: 100px;
	/*width: 350px;
	max-height: 100%;*/

	border-right: 1px solid #a6a6a6;
	
	/*border: 0;
	border-image: linear-gradient(to bottom, #eee 0, #a6a6a6 30px);
	border-image-width: 1px;
	border-image-slice: 1 1 1 1;*/

	
	display: flex;
	flex-flow: column;
	align-items: stretch;
	height: 100%;
}

.vertical .region {
	border-right: none;
	border-bottom: 1px solid #a6a6a6;
}

.thick-borders .region {
	border-width: 5px;
	
	border-image: linear-gradient(to right, #767676 0%, #eee 20%, #f2f2f2 80%, #767676 100%) 0 100% 0 0/0 5px 0 0 stretch;
}

.thick-borders .vertical .region {
	border-image: linear-gradient(to bottom, #767676 0%, #eee 20%, #f2f2f2 80%, #767676 100%) 0 0 100% 0/0 0 5px 0 stretch;
}

.region:last-child {
	border: none  !important;
	border-image: none !important;
}

#region-feeds {
	flex: 0 0 300px;
}

#region-articles {
	flex: 0 0 400px;
}

#region-content {
	flex: 1 1 auto;
}

.region:focus {
	outline-width: 0;
}

.resizer {
	position: absolute;
	left: 0;
	top: 0;
	user-select: none;
}

#panel-toggle {
	user-select: none;
	display: none;
	flex: 0 0 4px;
	background: url('/images/toggle_left.png') no-repeat center center #d3daed;
}
#panel-toggle:not(.toggled) {
	background-image: url('/images/toggle_right.png');
}

/**
 * Report
 */
.report-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(0,0,0,0.5)
	z-index: 10;

.report-window
	position: fixed
	top: 50%
	left: 50%
	width: 30rem
	height: 26rem
	margin-top: -13rem
	margin-left: -15rem
	background: #fff
	box-shadow: 0 0 6px black
	padding: 1rem

	strong
		text-transform: uppercase
		font-size: 1.2rem
		font-weight: normal
		display: block
		text-align: center
		padding: 0.3rem 0
		border-bottom: 1px solid #ccc


	label
		display: inline-block
		margin-top: 0.5rem
		vertical-align: baseline
		

	textarea, input[type=email], input[type=text]
		width: 100%
		resize: none

	input[type=checkbox]
		vertical-align: bottom

	textarea
		height: 11rem;

	.report-buttons, .report-message
		margin-top: 1.5rem
		text-align: center
		font-size: 0.9rem;

	.report-buttons
		line-height: 2rem

	input[type=submit], input[type=button]
		padding: 0.3rem 1rem

@media (max-height: 26rem) {
	.report-window { top: 0 !important; margin-top: 0 !important;	}
}

@media (max-width: 30rem) {
	.report-window { left: 0 !important; margin-left: 0 !important; }
}