html, body {
	height: 100%;
	max-height: 100%;
}

body {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
}

#toolbar {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}

#list {
	-webkit-flex: 1 1;
	flex: 1 1;
	-webkit-user-select: none;
	user-select: none;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: sans-serif;
}

.item {
	width: 100%;
	padding: 4px 5px 4px 5px;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.invisible {
	display: none !important;
}

.item:active, .selected {
	color: #f1f1f1 !important;
	background: rgb(51, 153, 255);
	border-bottom-color: rgb(51, 153, 255);
}

html:not(.focused) .selected {
	background: #94C6F7;
	border-bottom-color: #ccc;
}

.item:active .item-pin:not(.pinned), .selected  .item-pin:not(.pinned) {
	border-color: rgb(51, 153, 255);
	background: radial-gradient(circle at center, rgb(51, 153, 255) 30%, #c6c6c6 30%);
}


.last-selected {
	outline: 1px dotted grey;
}

html:not(.focused) .last-selected {
	outline: none;
}

.item:active *, .selected  * {
	color: #f1f1f1 !important;
}

.unread {
	font-weight: bold;
}

.unvisited {
	color: rgb(0, 59, 179) !important;
}

.unvisited .item-author {
	color: rgb(0, 59, 179) !important;
}

.item-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.8rem;
	-webkit-flex: 1 1 100%;
	flex: 1 1 100%;
	padding-left: 1rem;
}

.item-author {
	color: #664666;
	padding-top: 0.2rem;
	font-size: 0.75rem;
	-webkit-flex: 1 1 10px;
	flex: 1 1 10px;
	white-space: nowrap;
	min-width: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item-pin {
	width: 0.4rem;
	height: 0.4rem;
	margin-top: 0.46rem;
	margin-right: 0.4rem;
	margin-left: 0.2rem;
	border-radius: 0.4rem;
	background: radial-gradient(circle at center, white 30%, #c6c6c6 30%);
	border: 1px solid white;
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
.pinned {
	//-webkit-transform: scale(1, 1);
	background: #BB2222;
	border-color: #222;
}

.item-date {
	color: #6d6d6d;
	padding-top: 0.2rem;
	font-size: 0.75rem;
	-webkit-flex: 1 1 20px;
	flex: 1 1 20px;
	white-space: nowrap;
	font-weight: normal;
	text-align: right;
}

.date-group {
	/*border-top: 1px solid #dcdcdc;*/
	border-bottom: 1px solid #a6a6a6;
	background: linear-gradient(to bottom, white 3px, #ececec);
	height: 22px;
	line-height: 22px;
	font-family: sans-serif;
	font-size: 0.75rem;
	text-align: center;
	font-weight: bold;
}


/**
 * One line layout
 */

@media all and (min-width: 37rem) {
	.lines-auto .item {
		-webkit-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}
	.lines-auto .item-title {
		-webkit-flex: 1 1 auto;
		flex: 1 1 auto;
		padding-right: 20px;
		padding-left: 0;
		font-size: 0.75rem;
	}
	.lines-auto .item-pin {
		-webkit-order: -1;
		order: -1;
		margin-top: 0.3rem;
	}
	.lines-auto .item-author, .lines-auto .item-date {
		padding: 0;
	}
	.lines-auto .item-author {
		-webkit-flex: 0 1 12rem;
		flex: 0 1 12rem;
	}

	.lines-auto .item-date {
		-webkit-flex: 0 1 5rem;
		flex: 0 1 5rem;
		padding-right: 5px;
	}
}


.lines-one-line .item {
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.lines-one-line .item-title {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	padding-right: 20px;
	padding-left: 0;
	font-size: 0.75rem;
}
.lines-one-line .item-pin {
	-webkit-order: -1;
	order: -1;
	margin-top: 0.3rem;
}
.lines-one-line .item-author, .lines-one-line .item-date {
	padding: 0;
}
.lines-one-line .item-author {
	-webkit-flex: 0 1 12rem;
	flex: 0 1 12rem;
}

.lines-one-line .item-date {
	-webkit-flex: 0 1 5rem;
	flex: 0 1 5rem;
	padding-right: 5px;
}