html, body {
	height: 100%;
	max-height: 100%;
}

body {
	display: flex;
	flex-flow: column;
}

#toolbar {
	flex: 0 0 auto;
}

#list {
	flex: 1 1;
	-webkit-user-select: none;
	user-select: none;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: sans-serif;
}

.item {
	width: 100%;
	padding: 4px 5px 4px 5px;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-flow: row wrap;
}

.invisible {
	display: none !important;
}

.item:active, .selected {
	color: #f1f1f1 !important;
	background: rgb(51, 153, 255);
	border-bottom-color: rgb(51, 153, 255);
}

html:not(.focused) .selected {
	background: #94C6F7;
	border-bottom-color: #ccc;
}

.item:active .item-pin:not(.pinned), .selected  .item-pin:not(.pinned) {
	border-color: rgb(51, 153, 255);
	background: radial-gradient(circle at center, rgb(51, 153, 255) 30%, #c6c6c6 30%);
}


.last-selected {
	outline: 1px dotted grey;
}

html:not(.focused) .last-selected {
	outline: none;
}

.item:active *, .selected  * {
	color: #f1f1f1 !important;
}

.unread {
	font-weight: bold;
}

.unvisited {
	color: rgb(0, 59, 179) !important;
}

.unvisited .item-author {
	color: rgb(0, 59, 179) !important;
}

.item-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.8rem;
	flex: 1 1 100%;
	padding-left: 1rem;
}

.item-author {
	color: #664666;
	padding-top: 0.2rem;
	font-size: 0.75rem;
	flex: 1 1 10px;
	white-space: nowrap;
	min-width: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item-pin {
	break-before: always;
	break-after: never;
	width: 0.4rem;
	height: 0.4rem;
	margin-top: 0.46rem;
	margin-right: 0.4rem;
	margin-left: 0.2rem;
	border-radius: 0.4rem;
	background: radial-gradient(circle at center, white 30%, #c6c6c6 30%);
	border: 1px solid white;
	flex: 0 0 auto;
}
.pinned {
	//-webkit-transform: scale(1, 1);
	background: #BB2222;
	border-color: #222;
}

.item-date {
	color: #6d6d6d;
	padding-top: 0.2rem;
	font-size: 0.75rem;
	flex: 1 1 20px;
	white-space: nowrap;
	font-weight: normal;
	text-align: right;
}




/**
 * One line layout
 */

@media all and (min-width: 37rem) {
	.item {
		flex-wrap: nowrap;
		justify-content: flex-end;
	}
	.item-title {
		flex: 1 1 auto;
		padding-right: 20px;
		padding-left: 0;
		font-size: 0.75rem;
	}
	.item-pin {
		order: -1;
		margin-top: 0.3rem;
	}
	.item-author, .item-date {
		padding: 0;
	}
	.item-author {
		flex: 0 1 12rem;
	}

	.item-date {
		flex: 0 1 5rem;
	}
}