body {
	display: flex;
	flex-flow: column;
}

#toolbar {
	flex: 0 0 auto;
}

#item {
	flex: 1 1;
	user-select: none;
	overflow-x: hidden;
	overflow-y: auto;
}

header {
	padding: 25px 30px 15px 30px;
	font-family: sans-serif;
	border-bottom: 1px solid rgb(199, 203, 214);
}

.clear {
	clear: both;
}

h1 {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	color: rgb(72, 72, 72);
	font-size: 1.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

header p {
	color: rgb(182, 147, 171);
	font-size: 0.9rem;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 220px;
}

header p:first-of-type {
	float: left;
}

header p:last-of-type {
	float: right;
}

main, footer {
	padding: 20px 30px;
}

main * {
	max-width: 100%;
	height: auto;
	width: auto;
}

footer a {
	color: rgb(151, 128, 128);
	text-decoration: none;
	background: url('/images/full.png') no-repeat left center white;
	padding-left: 18px;
}


@media print { 
	footer, header, #toolbar {
		display: none !important;
	}
}