body {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
}

#toolbar {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}


header {
	display: none;
	padding: 25px 15px 15px 30px;
	font-family: sans-serif;
	border-bottom: 1px solid rgb(199, 203, 214);
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	overflow: hidden;
}

.clear {
	clear: both;
}

h1 {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	color: rgb(72, 72, 72);
	font-size: 1.5rem;
	max-height: 6rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

#below-h1 {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	width: 100%;
}

header p {
	color: rgb(182, 147, 171);
	font-size: 0.9rem;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*max-width: 220px;*/
}

header .author {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
}

header .date {
	-webkit-flex: 0 1 auto;
	flex: 0 1 200px;
	text-align: right;
}

header .pin-button {
	-webkit-flex: 0 0 25px;
	flex: 0 0 25px;
	height: 16px;
	background: url('/images/mail_unpinned.png') no-repeat right center;
	opacity: 0.8;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
	cursor: pointer;
}

header .pin-button:hover {
	opacity: 1;
}

header .pin-button.pinned {
	background: url('/images/mail_pinned.png') no-repeat right center;
}

iframe {
	display: none;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 100%;
}


footer {
	border-top: 2px solid #999;
	padding: 5px 10px;
	font-size: 0.75rem;
	display: none;
	-webkit-flex: 0 1 auto;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	background: white;
}

footer .log {
	padding: 5px 0;
}

footer .log:not(:last-of-type) {
	border-bottom: 1px solid #ccc;
}

#button-hide-log {
	margin: 0;
	padding: 0 4px;
	border: 1px solid #a6a6a6;
	cursor: pointer;
}


@media print { 
	header, #toolbar {
		display: none !important;
	}
}

.overlay #config-layout {
	padding: 5px;
}

#config-layout input[type=image] {
	margin: 3px;
}

.overlay select {
	width: 100%;
}

.overlay a {
	display: block;
	text-align: right;
	margin: 3px;
	margin-top: 8px;
	padding-top: 8px;
	font-size: 0.8rem;
	font-family: sans-serif;
	color: black;
	border-top: 1px solid #a6a6a6;
}