/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Photon Colors CSS Variables v3.2.0 */

:root {

    --blue-40: #45a1ff;
    --blue-50: #0a84ff;
    --blue-50-a30: rgba(10, 132, 255, 0.3);
    --blue-60: #0060df;
    --blue-70: #003eaa;
    --blue-80: #002275;
    --blue-90: #000f40;

    --grey-10: #f9f9fa;
    --grey-20: #ededf0;
    --grey-30: #d7d7db;
    --grey-40: #b1b1b3;
    --grey-50: #737373;
    --grey-60: #4a4a4f;
    --grey-70: #38383d;
    --grey-80: #2a2a2e;
    --grey-90: #0c0c0d;

    --white: #fff;
}


:root {
    --border: 1px solid var(--grey-30);
    --transparent-border: 1px solid transparent;
    --overlay-border: 1px solid var(--grey-40);
    --overlay-box-shadow: 2px 2px 2px var(--grey-50); /* the same as context menu box shadow */
}


* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    font-size: 100%;
    font-family: sans-serif;
    color: var(--grey-90);
    background-color: var(--white);
}

body {
    overflow: hidden;
}

.visible {
    display: block;
}


label {
    font-family: sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
}

/**
 * Toolbars & Toolbar Buttons
 */
.toolbar {
    display: flex;
    min-width: 0;
    flex: 0 0 auto;
    height: 32px;
    background:var(--grey-10);
    border-bottom: var(--border);
    align-items: stretch;
    justify-content: flex-start;
    padding: 3px 6px;
    user-select: none;
    overflow: hidden;
}

.dynamic-space {
    flex: 1 1 auto;
    text-align: center;
    margin-right: 3px;
}

.button {
    flex: 0 0 28px;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 3px;
    border: 1px solid transparent;
    text-align: center;
    line-height: 21px;
    cursor: pointer;
}

.button:hover,
.button:active {
    border-color: var(--grey-30);
}

.button:active {
    box-shadow: inset 0 1px 3px var(--grey-40);
}

#context-undelete {
    display: none;
}

input[type=search] {
    max-width: 160px;
    width: 160px;
    margin-top: 0;
    padding: 2px 5px;
    margin-bottom: 0;
    font-size: 0.8rem;
    border: var(--border); /* second border */
    border-radius: 5px;
}

input[type=search]:not(:focus):not(:valid) {
    background: url("/images/search.png") no-repeat right center var(--white);
}

/**
 * Context Menus & Context Menu Items
 */
.context-menu {
    min-width: 150px;
    max-width: 250px;
    border: var(--overlay-border);
    background: url("/images/context-border.png") repeat-y 27px top var(--grey-10);
    position: absolute;
    top: 300px;
    left: 10px;
    overflow: hidden;
    z-index: 3;
    padding: 2px;
    box-shadow: var(--overlay-box-shadow);
    user-select: none;
    cursor: default;
    display: none;
}

.context-menu-item {
    font-size: 0.75rem;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 4px 3px 4px 30px;
    border: 1px solid transparent;
}

.context-menu-item:hover {
    border-radius: 3px;
    /*background-color: var(--blue-40);*/
    border-color: var(--blue-40);
}

/**
 * Overlays
 */
.overlay {
    display: none;
    width: 20rem;
    min-height: 50px;
    border: var(--overlay-border);
    background: var(--grey-10);
    position: absolute;
    top: 30px;
    right: 5px;
    overflow: hidden;
    z-index: 2;
    padding: 5px;
    border-radius: 5px;
    box-shadow:  var(--overlay-box-shadow);
}

.overlay label {
    padding: 0.3rem 0 0.2rem 0;
    display: block;
}

.half-size {
    width: 50%;
    margin: 0;
    box-sizing: border-box;
}

/**
 * Main regions
 */
.regions {
    display: flex;
    min-width: 0;
    min-height: 100%;
    max-height: 100%;
}

.subregions {
    flex-shrink: 1;
    flex-grow: 1;
    /*flex-basis: auto;*/
}

.regions.vertical {
    flex-flow: column;
}

.region {
    /*min-width: 100px;*/
    min-height: 180px;
    border-right: var(--border);
    display: flex;
    min-width: 0;
    flex-flow: column;
    align-items: stretch;
}

.vertical .region {
    border-right: none;
    border-bottom: var(--border);
}

.region:last-child {
    border: none;
    border-image: none;
}

#region-feeds {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 300px;
}

#region-articles {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 400px;
}

#region-content {
    flex-shrink: 1;
    flex-grow: 1;
    /*flex-basis: auto;*/
}

.region:focus {
    outline-width: 0;
}

.resizer {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
}

#toolbar {
    flex: 0 0 auto;
}

#feed-list {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
}

.sources-list-item {
    flex: 0 0 auto;
    align-items: center;
    width: 100%;
    padding: 3px 5px 3px 15px;
    display: flex;
    min-width: 0;
    font-size: 0.9rem;
    cursor: pointer;
}

.sources-list-item:hover .source-title {
    color: var(--blue-40);
    text-decoration: underline;
}

.source-icon {
    flex: 0 0 16px;
    height: 16px;
}

.source-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    padding: 0 5px;
    line-height: 1.2;
    font-size: 0.8rem;
}

.source-counter {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    padding: 0 5px;
    background: var(--grey-20);
    border-radius: 3px;
    height: 100%;
    max-width: 50px;
    overflow: hidden;
}

.source-counter:hover {
    background: var(--grey-30);
}

.selected .source-counter:hover {
    background: var(--grey-20);
}

.selected .source-counter {
    color: var(--grey-90);
}

.folder {
    padding-left: 1px;
}

.drag-over {
    background: var(--grey-20);
}

.folder-arrow {
    width: 14px;
    height: 14px;
    flex: 0 0 14px;
    background: url("/images/arrow-right.png") no-repeat center center;
}

.opened .folder-arrow {
    background: url("/images/arrow-down.png") no-repeat center center;
}

.has-unread .source-title {
    font-weight: bold;
}

[data-in-folder] {
    padding-left: 30px;
}

#indicator {
    display: none;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 1.75rem;
    line-height: 1.75rem;
    width: 100%;
    border-top: var(--border);
    flex-flow: row;
    align-items: stretch;
    user-select: none;
}

#indicator-progress {
    border-right: var(--border);
    font-family: sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: linear-gradient(to right, var(--grey-20) 0%, var(--grey-30) 0%);
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
    font-size: 0.8rem;
}

#indicator.indicator-visible {
    display: flex;
    min-width: 0;
}

#indicator-toolbar {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 2rem;
    padding: 0.1rem;
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

#indicator-stop {
    cursor: pointer;
    background: url("../images/stop.png") no-repeat center center;
    border-radius: 3px;
    width: 28px;
    border: var(--transparent-border);
}

#indicator-stop:hover,
#indicator-stop:active {
    border-color: var(--grey-30);
}

#indicator-stop:active {
    box-shadow: inset 0 1px 3px var(--grey-40);
}

#properties {
    padding: 10px;
    background: var(--grey-10);
    border-bottom: var(--border);
    display: none;
}

#properties input,
#properties select {
    width: 100%;
    padding: 2px 5px;
}

#properties button {
    width: 49%;
    margin-top: 5px;
    background: var(--white);
    border: var(--border);
    border-radius: 4px;
    padding: 3px 0;
    cursor: pointer;
}

#properties button:first-of-type {
    margin-right: 2%;
}

#properties-advanced {
    margin: 5px 0;
    display: none;
}

#advanced-switch {
    user-select: none;
    margin: 5px 0;
    font-weight: bold;
    font-size: 0.75rem;
    cursor: pointer;
    padding-left: 16px;
    background: url("/images/right.png") no-repeat left 45%;
}

#advanced-switch:hover {
    text-decoration: underline;
}

#advanced-switch.switched {
    background: url("/images/down.png") no-repeat left 45%;
}

#toolbar {
    flex: 0 0 auto;
}

#article-list {
    flex: 1 1 auto;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: sans-serif;
}

.articles-list-item {
    width: 100%;
    padding: 4px 5px 4px 5px;
    cursor: pointer;
    border-bottom: var(--border);
    display: flex;
    min-width: 0;
    flex-flow: row wrap;
    text-decoration: none;
    color: inherit;
    min-height: 1.5rem;
}

.selected {
    color: var(--grey-10);
    background: var(--blue-40);
    border-bottom-color: var(--blue-40);
}

.region:not(.focused) .selected {
    background: var(--blue-40);
    border-bottom-color: var(--grey-30);
}

.last-selected {
    outline: 1px dotted var(--grey-50);
}

.region:not(.focused) .last-selected {
    outline: none;
}

.articles-list-item:active *,
.selected * {
    color: var(--grey-10);
}

.unread {
    font-weight: bold;
}

.unvisited,
.unvisited .articles-list-item-author {
    color: var(--blue-70);
}

.item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100%;
    padding-left: 1rem;
}

.item-author {
    color: var(--grey-50);
    padding-top: 0.2rem;
    font-size: 0.75rem;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 10px;
    white-space: nowrap;
    min-width: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected .item-author {
    color: var(--grey-20);
}

.item-pin {
    width: 0.4rem;
    height: 0.5rem;
    margin-top: 0.46rem;
    margin-right: 0.4rem;
    margin-left: 0.2rem;
    background-repeat: no-repeat;
    background-image: url("../images/bullet_read.png");
    background-position: 50% 50%;
    background-size: 1rem;
    flex: 0 0 0.4rem;
}

.unread:not(.unvisited) .item-pin:not(.pinned) {
    background-image: url("../images/bullet_unread.png");
}

.unvisited .item-pin:not(.pinned) {
    background-image: url("../images/bullet_unseen.png");
}

.pinned {
    background-image: url("../images/bullet_pinned.png");
}

.item-date {
    color: var(--grey-50);
    padding-top: 0.2rem;
    font-size: 0.75rem;
    flex: 1 1 20px;
    white-space: nowrap;
    font-weight: normal;
    text-align: right;
}

.date-group {
    border-bottom: var(--border);
    background: linear-gradient(to bottom, var(--white) 3px, var(--grey-20));
    height: 22px;
    line-height: 22px;
    font-family: sans-serif;
    font-size: 0.75rem;
    text-align: center;
    font-weight: bold;
    user-select: none;
}

header {
    padding: 25px 15px 15px 30px;
    border-bottom: var(--border);
    flex: 0 0 auto;
    overflow: hidden;
}

.clear {
    clear: both;
}

h1 {
    margin: 0 0 20px;
    padding: 0;
    color: var(--grey-70);
    font-size: 1.5rem;
    max-height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1 a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    font-weight: inherit;
}

#below-h1 {
    display: flex;
    min-width: 0;
    flex-flow: row nowrap;
    width: 100%;
}

header p {
    color: var(--grey-50);
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header .author {
    flex: 1 1 auto;
}

header .date {
    flex: 0 1 200px;
    text-align: right;
}

header .pin-button {
    flex: 0 0 25px;
    height: 16px;
    background: url("/images/mail_unpinned.png") no-repeat right center;
    opacity: 0.8;
    transition: opacity 0.1s;
    cursor: pointer;
}

header .pin-button:hover {
    opacity: 1;
}

header .pin-button.pinned {
    background: url("/images/mail_pinned.png") no-repeat right center;
}

iframe {
    height: 0;
    display: none;
    flex: 1 1 auto;
    width: 100%;
}

footer {
    border-top: var(--border);
    padding: 5px 10px;
    font-size: 0.75rem;
    display: none;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--white);
}

@media print {
    header,
    #toolbar {
        display: none;
    }
}

.overlay #config-layout {
    padding: 5px;
}

.overlay #config-layout input[type=image] {
    margin: 3px;
}

.overlay select {
    width: 100%;
}

.overlay a {
    display: block;
    text-align: right;
    margin: 8px 3px 3px;
    padding-top: 8px;
    font-size: 0.8rem;
    font-family: sans-serif;
    color: inherit;
    text-decoration: none;
    border-top: var(--border);
}

.hidden {
    display: none;
}
