* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    font-size: 100%;
    font-family: sans-serif;
    /*overflow: hidden;*/
}
body {
    overflow: hidden;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

label {
    font-family: sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
}

/**
 * Toolbars & Toolbar Buttons
 */
.toolbar {
    display: flex;
    flex: 0 0 auto;
    height: 32px;
    background: #f2f2f2;
    border-bottom: 1px solid #a6a6a6;
    align-items: stretch;
    justify-content: flex-start;
    padding: 3px 6px;
    user-select: none;
    overflow: hidden;
}

.dynamic-space {
    flex: 1 1 auto;
    text-align: center;
    margin-right: 3px;
}

.button {
    flex: 0 0 28px;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 3px;
    border: 1px solid transparent;
    text-align: center;
    line-height: 21px;
    cursor: pointer;
}

.button:hover,
.button:active {
    border-color: #c4c4c4;
}

.button:active {
    box-shadow: inset 0 1px 3px #bbb;
}

/*[data-action="articles:undelete"] {*/
    /*background: url("/images/delete_selected.png") no-repeat center center;*/
/*}*/

#context-undelete {
    display: none;
}

input[type=search] {
    max-width: 160px;
    width: 160px;
    margin-top: 0;
    padding: 2px 5px;
    margin-bottom: 0;
    font-size: 0.8rem;
    border: 1px solid #a6a6a6;
    border-radius: 5px;
}

input[type=search]:not(:focus):not(:valid) {
    background: url("/images/search.png") no-repeat right center #fff;
}

/**
 * Context Menus & Context Menu Items
 */
.context-menu {
    min-width: 150px;
    max-width: 250px;
    border: 1px solid #a0a0a0;
    background: url("/images/context-border.png") repeat-y 27px top #f0f0f0;
    position: absolute;
    top: 300px;
    left: 10px;
    overflow: hidden;
    z-index: 3;
    padding: 2px;
    box-shadow: 2px 2px 2px #999;
    user-select: none;
    cursor: default;
    display: none;
}

.context-menu-item {
    font-size: 0.75rem;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 4px 3px 4px 30px;
    border: 1px solid transparent;
}

.context-menu-item:hover {
    border-radius: 3px;
    border-color: #aecff7;
}

/**
 * Overlays
 */
.overlay {
    display: none;
    width: 20rem;
    min-height: 50px;
    border: 1px solid #a0a0a0;
    background: #f0f0f0;
    position: absolute;
    top: 30px;
    right: 5px;
    overflow: hidden;
    z-index: 2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #999;
}

.overlay label {
    padding: 0.3rem 0 0.2rem 0;
    display: block;
}

.half-size {
    width: 50%;
    margin: 0;
    box-sizing: border-box;
}

/**
 * Main regions
 */
.regions {
    display: flex;
    min-height: 100%;
    max-height: 100%;
}
.subregions {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
}

.regions.vertical {
    flex-flow: column;
}

.region {
    min-width: 100px;
    min-height: 180px;
    border-right: 1px solid #a6a6a6;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.vertical .region {
    border-right: none;
    border-bottom: 1px solid #a6a6a6;
}

.region:last-child {
    border: none;
    border-image: none;
}

#region-feeds {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 300px;
}

#region-articles {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 400px;
}

#region-content {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
}

.region:focus {
    outline-width: 0;
}

.resizer {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
}

#toolbar {
    flex: 0 0 auto;
}

#feed-list {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
}

.list-item {
    flex: 0 0 auto;
    align-items: center;
    width: 100%;
    padding: 3px 5px 3px 15px;
    display: flex;
    /*font-family: sans-serif;*/
    font-size: 0.9rem;
    cursor: pointer;
}

.selected {
    background: #94c6f8;
}

/*.list-item:active {
	background: rgb(51, 153, 255);
}*/
.list-item:hover .source-title {
    color: #285078;
    text-decoration: underline;
}

.source-icon {
    flex: 0 0 16px;
    height: 16px;
}

.source-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    padding: 0 5px;
    line-height: 1.2;
    font-size: 0.8rem;
}

.source-counter {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    padding: 0 5px;
    background: #e1e1e1;
    border-radius: 3px;
    height: 100%;
    max-width: 50px;
    overflow: hidden;
}

.source-counter:hover {
    background: #d5d5d5;
}

.selected .source-counter:hover {
    background: #e8e8e8;
}

.selected .source-counter {
    color: #000;
}

.folder {
    padding-left: 1px;
}

.drag-over {
    background: #e3e3ff;
}

.folder-arrow {
    width: 14px;
    height: 14px;
    flex: 0 0 14px;
    background: url("/images/arrow-right.png") no-repeat center center;
}

.opened .folder-arrow {
    background: url("/images/arrow-down.png") no-repeat center center;
}

.has-unread .source-title {
    font-weight: bold;
}

[data-in-folder] {
    padding-left: 30px;
}

#indicator {
    display: none;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 1.75rem;
    line-height: 1.75rem;
    width: 100%;
    border-top: 1px solid #a6a6a6;
    flex-flow: row;
    align-items: stretch;
    user-select: none;
}

#indicator-progress {
    border-right: 1px solid #a6a6a6;
    font-family: sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: linear-gradient(to right, #d1d1d1 0%, #eee 0%);
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
    font-size: 0.8rem;
}

#indicator.indicator-visible {
    display: flex;
}

#indicator-toolbar {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 2rem;
    padding: 0.1rem;
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

#indicator-stop {
    cursor: pointer;
    background: url("../images/stop.png") no-repeat center center;
    border-radius: 3px;
    width: 28px;
    border: 1px solid transparent;
}

#indicator-stop:hover,
#indicator-stop:active {
    border-color: #c4c4c4;
}

#indicator-stop:active {
    box-shadow: inset 0 1px 3px #bbb;
}

#properties {
    padding: 10px;
    background: #f2f2f2;
    border-bottom: 1px solid #a6a6a6;
    display: none;
}

#properties input,
#properties select {
    width: 100%;
    padding: 2px 5px;
}

#properties button {
    width: 49%;
    margin-top: 5px;
    background: #fff;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
    padding: 3px 0;
    cursor: pointer;
}

#properties button:first-of-type {
    margin-right: 2%;
}

#properties-advanced {
    margin: 5px 0;
    display: none;
}

#advanced-switch {
    user-select: none;
    margin: 5px 0;
    font-weight: bold;
    font-size: 0.75rem;
    cursor: pointer;
    padding-left: 16px;
    /*font-family: sans-serif;*/
    background: url("/images/right.png") no-repeat left 45%;
}

#advanced-switch:hover {
    text-decoration: underline;
}

#advanced-switch.switched {
    background: url("/images/down.png") no-repeat left 45%;
}

#toolbar {
    flex: 0 0 auto;
}

#article-list {
    flex: 1 1 auto;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: sans-serif;
}

.item {
    width: 100%;
    padding: 4px 5px 4px 5px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
    color: inherit;
}

.selected {
    color: #f1f1f1;
    background: #39f;
    border-bottom-color: #39f;
}

.region:not(.focused) .selected {
    background: #94c6f7;
    border-bottom-color: #ccc;
}

.last-selected {
    outline: 1px dotted #808080;
}

.region:not(.focused) .last-selected {
    outline: none;
}

.item:active *,
.selected * {
    color: #f1f1f1;
}

.unread {
    font-weight: bold;
}

.unvisited {
    color: #003bb3;
}

.unvisited .item-author {
    color: #003bb3;
}

.item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100%;
    padding-left: 1rem;
}

.item-author {
    color: #664666;
    padding-top: 0.2rem;
    font-size: 0.75rem;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 10px;
    white-space: nowrap;
    min-width: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-pin {
    width: 0.4rem;
    height: 0.5rem;
    margin-top: 0.46rem;
    margin-right: 0.4rem;
    margin-left: 0.2rem;
    background-repeat: no-repeat;
    background-image: url("../images/bullet_read.png");
    background-position: 50% 50%;
    background-size: 1rem;
    flex: 0 0 0.4rem;
}

.unread:not(.unvisited) .item-pin:not(.pinned) {
    background-image: url("../images/bullet_unread.png");
}

.unvisited .item-pin:not(.pinned) {
    background-image: url("../images/bullet_unseen.png");
}

.pinned {
    background-image: url("../images/bullet_pinned.png");
}

.item-date {
    color: #6d6d6d;
    padding-top: 0.2rem;
    font-size: 0.75rem;
    flex: 1 1 20px;
    white-space: nowrap;
    font-weight: normal;
    text-align: right;
}

.date-group {
    border-bottom: 1px solid #a6a6a6;
    background: linear-gradient(to bottom, #fff 3px, #ececec);
    height: 22px;
    line-height: 22px;
    font-family: sans-serif;
    font-size: 0.75rem;
    text-align: center;
    font-weight: bold;
    user-select: none;
}

header {
    /*display: none;*/
    padding: 25px 15px 15px 30px;
    border-bottom: 1px solid #c7cbd6;
    flex: 0 0 auto;
    overflow: hidden;
}

.clear {
    clear: both;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: #484848;
    font-size: 1.5rem;
    max-height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1 a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    font-weight: inherit;
}

#below-h1 {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

header p {
    color: #b693ab;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header .author {
    flex: 1 1 auto;
}

header .date {
    flex: 0 1 200px;
    text-align: right;
}

header .pin-button {
    flex: 0 0 25px;
    height: 16px;
    background: url("/images/mail_unpinned.png") no-repeat right center;
    opacity: 0.8;
    transition: opacity 0.1s;
    cursor: pointer;
}

header .pin-button:hover {
    opacity: 1;
}

header .pin-button.pinned {
    background: url("/images/mail_pinned.png") no-repeat right center;
}

iframe {
    height: 0;
    display: none;
    flex: 1 1 auto;
    width: 100%;
}

footer {
    border-top: 2px solid #999;
    padding: 5px 10px;
    font-size: 0.75rem;
    display: none;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
}

footer .log {
    padding: 5px 0;
}

footer .log:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}

footer #button-hide-log {
    margin: 0;
    padding: 0 4px;
    border: 1px solid #a6a6a6;
    cursor: pointer;
}

@media print {
    header,
    #toolbar {
        display: none;
    }
}

.overlay #config-layout {
    padding: 5px;
}

.overlay #config-layout input[type=image] {
    margin: 3px;
}

.overlay select {
    width: 100%;
}

.overlay a {
    display: block;
    text-align: right;
    margin: 3px;
    margin-top: 8px;
    padding-top: 8px;
    font-size: 0.8rem;
    font-family: sans-serif;
    color: #000;
    border-top: 1px solid #a6a6a6;
}
