html, body {
	background-color: rgb(237, 237, 237);
	font: menu;
	height: 100%;
	margin: 0;
	padding: 0;
}

span.selectLabel {
	display: inline-block;
	min-width: 120px;
}

#wallpaper-canvas,
#scroll-container {
	height: 100%;
	left: 0;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 100%;
}

#wallpaper {
	background-image: none;
	background-size: cover;
	height: 100%;
	left: 0;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 100%;
}

#tool-container {
	bottom: 0;
	left: 0;
	margin: 0 auto;
	min-width: 700px;
	max-width: 900px;
	padding: 0 20px;
	position: absolute;
	right: 0;
	top: 0;
}

#sidebar {
	-webkit-border-end: none;
	background-color: rgba(255, 255, 255, 0.8);
	background-origin: content-box;
	background-repeat: no-repeat;
	border-radius: 12px 0 0 12px;
	border: 1px solid rgb(198, 198, 198);
	-webkit-border-end: none;
	box-sizing: border-box;
	color: rgb(73, 73, 73);
	margin-top: 30px;
	padding: 20px;
	position: fixed;
	width: 230px;
}

html[dir='rtl'] #sidebar {
	border-radius: 0 12px 12px 0;
}

/* Sidebar icon must be given a background image */
#sidebar-icon {
	display: block;
	width: 52px;
	height: 48px;
	background-repeat: no-repeat;
	background-image: url('../images/48-inverted-round.png');
}

#sidebar h1 {
	font-size: 18px;
}

#content {
	-webkit-margin-start: 230px; /* #sidebar width */
	background: white;
	border-left: 1px solid rgba(0, 0, 0, 0.25);
	border-right: 1px solid rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	min-height: 100%;
	padding: 30px;
}

a {
	color: rgb(17, 85, 204);
}

@media all and (max-width: 740px), all and (max-height: 500px) {
	#sidebar {
		position: absolute;
	}
}

.section-header {
	color: rgb(95, 95,95);
	display: -webkit-flex;
	font-size: 1.17rem;
	font-weight: normal;
	line-height: 2rem;
	margin: 20px 0 12px 0;
}

	.section-header::after {
		background-image: linear-gradient(rgb(190, 190, 190), transparent 1px);
		background-position: left 55%;
		background-repeat: no-repeat;
		background-size: 100% 1px;
		content: '';
		-webkit-flex: auto;
		-webkit-margin-start: 10px;
	}
section div {
	margin: 5px 20px;
}

.sub-navigation-option {
	margin-left: 25px;
}

.hidden {
	display: none!important;
}

.checkbox span, input{
	cursor: pointer;
}

select {
	cursor: pointer;
	min-width: 100px;
}

.twitter {
	display: block;
	margin-top: 25px;
}

button {
	padding: 2px 12px;
}