body {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	
}

#toolbar {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}

#list {
	-webkit-flex: 1 1;
	flex: 1 1;
	/*padding-top: 3px;*/
	-webkit-user-select: none;
	user-select: none;
	overflow-x: hidden;
	overflow-y: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
}

.list-item {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 100%;
	padding: 3px 5px 3px 15px;
	display: -webkit-flex;
	display: flex;
	font-family: sans-serif;
	font-size: 0.9rem;
	cursor: pointer;
}

.selected {
	background: rgb(148, 198, 248);
}

.list-item:active {
	background: rgb(51, 153, 255);	
}

.list-item:hover .source-title {
	color: rgb(40, 80, 120);
	text-decoration: underline;
}

.source-icon {
	-webkit-flex: 0 0 16px;
	flex: 0 0 16px;
	height: 16px;
}

.source-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-flex: 1 1;
	flex: 1 1;
	padding: 0 5px;
	line-height: 16px;
	font-size: 0.8rem;
}

.source-counter {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 0 5px;
	background: #e1e1e1;
	border-radius: 3px;
	height: 100%;
	max-width: 50px;
	overflow: hidden;
}

.folder {
	padding-left: 1px !important;
}

.drag-over {
	background: #e3e3ff;
}

.folder-arrow {
	width: 14px;
	flex: 0 0 14px;
	background: url('/images/arrow-right.png') no-repeat center center;
}

.opened .folder-arrow {
	background: url('/images/arrow-down.png') no-repeat center center;
}

.has-unread .source-title {
	font-weight: bold;
}

[data-in-folder] {
	padding-left: 30px;
}

#indicator {
	display: none;
	-webkit-flex: 0 0 25px;
	flex: 0 0 25px;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	font-family: sans-serif;
	text-overflow: ellipsis;
	width: 100%;
	text-align: center;
	border-top: 1px solid #a6a6a6;
	font-size: 0.8rem;
	background: linear-gradient(to right, #d1d1d1 0%, #eee 0%);
}

#properties {
	padding: 10px;
	background: #f2f2f2;
	border-bottom: 1px solid #a6a6a6;
	display: none;
}


#properties input, #properties select {
	width: 100%;
	padding: 2px 5px;
}

#properties button {
	width: 49%;
	margin-top: 5px;
	background: white;
	border: 1px solid #a6a6a6;
	border-radius: 4px;
	padding: 3px 0;
	cursor: pointer;
}

#properties button:first-of-type {
	margin-right: 2%;
}

#properties-advanced {
	margin: 5px 0;
	display: none;
}

#advanced-switch {
	-webkit-user-select: none;
	user-select: none;
	margin: 5px 0;
	font-weight: bold;
	font-size: 0.8rem;
	cursor: pointer;
	padding-left: 16px;
	font-family: serif;
	background: url('/images/right.png') no-repeat left 37%;
}

#advanced-switch:hover {
	text-decoration: underline;
}

#advanced-switch.switched {
	background: url('/images/down.png') no-repeat left 37%;
}

.in-closed-folder {
	display: none !important;
}